/**
 * Cinzel — self-hosted (SIL Open Font License)
 * Source: @fontsource/cinzel v5.2.8, latin subset (WOFF2)
 */

/* cinzel-latin-400-normal */
@font-face {
  font-family: 'Cinzel';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('cinzel-latin-400-normal.woff2') format('woff2');
}

/* cinzel-latin-500-normal */
@font-face {
  font-family: 'Cinzel';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url('cinzel-latin-500-normal.woff2') format('woff2');
}

/* cinzel-latin-600-normal */
@font-face {
  font-family: 'Cinzel';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url('cinzel-latin-600-normal.woff2') format('woff2');
}

/* cinzel-latin-700-normal */
@font-face {
  font-family: 'Cinzel';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url('cinzel-latin-700-normal.woff2') format('woff2');
}

/* cinzel-latin-800-normal */
@font-face {
  font-family: 'Cinzel';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: url('cinzel-latin-800-normal.woff2') format('woff2');
}

/* cinzel-latin-900-normal */
@font-face {
  font-family: 'Cinzel';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src: url('cinzel-latin-900-normal.woff2') format('woff2');
}
